[submodule "vim/vim.symlink/bundle/ctrlp.vim"]
	path = vim/vim.symlink/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim.symlink/bundle/nerdtree.vim"]
	path = vim/vim.symlink/bundle/nerdtree.vim
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/ack.vim"]
	path = vim/vim.symlink/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/vim.symlink/bundle/nerdcommenter.vim"]
	path = vim/vim.symlink/bundle/nerdcommenter.vim
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vim.symlink/bundle/markdown.vim"]
	path = vim/vim.symlink/bundle/markdown.vim
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/vim.symlink/bundle/gitgutter.vim"]
	path = vim/vim.symlink/bundle/gitgutter.vim
	url = https://github.com/airblade/vim-gitgutter.git
