[submodule "vim/vim.symlink/bundle/ctrlp.vim"]
	path = vim/vim.symlink/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim.symlink/bundle/nerdtree.vim"]
	path = vim/vim.symlink/bundle/nerdtree.vim
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/ack.vim"]
	path = vim/vim.symlink/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/vim.symlink/bundle/nerdcommenter.vim"]
	path = vim/vim.symlink/bundle/nerdcommenter.vim
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vim.symlink/bundle/fugitive.vim"]
	path = vim/vim.symlink/bundle/fugitive.vim
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/markdown.vim"]
	path = vim/vim.symlink/bundle/markdown.vim
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "vim/vim.symlink/bundle/coffee-script.vim"]
	path = vim/vim.symlink/bundle/coffee-script.vim
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vim.symlink/bundle/textile.vim"]
	path = vim/vim.symlink/bundle/textile.vim
	url = git://github.com/timcharper/textile.vim.git
[submodule "tmux/tmux.symlink/colors/solarized"]
	path = tmux/tmux.symlink/colors/solarized
	url = git://github.com/seebi/tmux-colors-solarized.git
[submodule "vim/vim.symlink/bundle/gitgutter.vim"]
	path = vim/vim.symlink/bundle/gitgutter.vim
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "powerline/powerline.symlink"]
	path = powerline/powerline.symlink
	url = git://github.com/Lokaltog/powerline
[submodule "grunt/grunt-init.symlink/zepackage"]
	path = grunt/grunt-init.symlink/zepackage
	url = https://github.com/linssen/grunt-init-zepackage.git
[submodule "sublime/Packages/Nettuts-Fetch"]
	path = sublime/Packages/Nettuts-Fetch
	url = https://github.com/weslly/Nettuts-Fetch.git
[submodule "vim/vim.symlink/bundle/jshint2.vim"]
	path = vim/vim.symlink/bundle/jshint2.vim
	url = https://github.com/Shutnik/jshint2.vim.git
[submodule "vim/vim.symlink/bundle/syntastic.vim"]
	path = vim/vim.symlink/bundle/syntastic.vim
	url = git@github.com:scrooloose/syntastic.git
[submodule "tmux/tmux.symlink/plugins/tpm"]
	path = tmux/tmux.symlink/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
